<h3>Welcome to ip-configurator</h3>

<div class="panel panel-default">
  <div class="panel-body">
		<dl class="dl-horizontal ">
		  <dt><%= t(:registered_user) %>:</dt>
		  <dd><%= @registered_user %></dd>
			<dt><%= t(:active_ip) %>:</dt>
		  <dd><%= @active_ip  %></dd>
			<dt><%= t(:ip_seen_today) %>:</dt>
		  <dd><%= @ip_seen_today  %></dd>
		  <dt><%= t(:ip_no_more_seen) %>:</dt>
		  <dd><%= @ip_no_more_seen  %></dd>
		</dl>
 </div>
</div>