<div class="container-fluid">
	<div class="page-header clearfix mt-3">
	  <div class="float-left">
	    <h1><%= t(:listing_networks) %></h1>
	  </div>
	  <div class="float-right btn-header">
	    <a href="<%= new_network_path %>" class="btn btn-primary">
	      <i class="fas fa-plus"></i>
	      <%= t(:new_network) %>
	    </a>
	  </div>
	</div>

	<div class="mt-1">
	  <div class="column">
	    <%= render 'search' %>
	  </div>
	</div>

	<div class="mt-3">
	  <div class="column">
	    <%= render 'networks' %>
	  </div>
	</div>
</div>