<div class="card card-primary">
  <div class="card-header">
    <%= t(:total_results) %> <%= @total_result if @total_result > 0 %>
  </div>
  <div class="card-body"> 
    <% if @total_result == 0 %>
    	<p><%= t(:no_results) %></p>
    <% else %>
      <div class="table-responsive">
        <div class="container pagination justify-content-center" >
          <%= paginate @addresses, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
        </div>
        <table class="table table-striped table-bordered">
          <tbody>
        		<tr>
        			<th>Id</th>
        			<th><%= sort_link @q, :ip_address, t(:ip) %></th>
        			<th><%= sort_link @q, :network_id, t(:network_id) %></th>
        			<th><%= sort_link @q, :reserved, t(:reserved) %></th>
        			<th><%= t(:action) %></th>
        		</tr>
            <% @addresses.each do |address| %>
        			<tr>
        				<td><%= link_to(address.id, address) %></td>
                <td><%= address.toString %></td>
        				<td><%= address.network.start_address %></td>
        				<td align="center">
                  <%= show_flag_reserved(address.reserved) %>
                </td>
        				<td align="right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-outline-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <%= t('action') %>
                    </button>
                    <div class="dropdown-menu">
                      <%= link_to address, class: "dropdown-item" do %>
        								<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
                        <i class="fas fa-eye"></i>
        								<%= t('show') %>
        							<% end %> 
        							<%= link_to edit_address_path(address), class: "dropdown-item" do %>
        								<i class="fas fa-edit"></i>
        								<%= t('edit') %>
        							<% end %>
                    </div>
                  </div>
        				</td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <br><br>
      </div>
      <div class="container pagination justify-content-center" >
        <%= paginate @addresses, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
      </div>
    <% end %>
  </div>
</div>