<%= form_for(@address, html: { class: "form-horizontal" }) do |f| %>
  <% if @address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% @address.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="form-group">
    <%= f.label :ip_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.text_field :ip_address, class: 'form-control', disabled: true  %>
    </div>
	</div>
	<div class="form-group">
    <%= f.label :start_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
			<%= f.text_field :start_address, value: @address.network.start_address, class: 'form-control', disabled: true  %>
    </div>
	</div>
  <div class="form-group">
    <%= f.label :reserved, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= f.check_box :reserved, class: 'form-control' %>
    </div>
	</div>
	<div class="form-group">
    <%= f.label :assigned_address, class: "col-sm-2 control-label" %>
    <div class="col-sm-6">
      <%= @address.assigned_address.operator.name if @address.assigned_address %>
    </div>
	</div>	

  <div class="actions col-md-offset-2">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
