<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('search_options')%></h3>
  </div>
  <div class="panel-body">
		<%= search_form_for( @q, url: addresses_path, :method => :get, html: { class: "form-inline", role: "form" }) do |f| %>
					<div class="form-group">
		    		<%= f.label :ip_address_cont, t('ip_address') %><br />
		    		<%= f.text_field :ip_address_cont ,:class => "form-control" %>
			  	</div>
					<div class="form-group">
					  <%= f.label :network_id_eq, t('network') %><br />
						<%= f.select(:network_id_eq, Network.all.collect {|net| [net.start_address, net.id]}, {:include_blank => true }, :class => "form-control" ) %>
					</div>
					<div class="form-group">
		    		<%= f.label :reserved_eq, t('reserved') %><br />
						<%= f.select(:reserved_eq, %w{true false}, {:include_blank => true }, :class => "form-control" ) %>
					</div>
					<div class="form-group">	
		    		<%= f.label :assigned_address_address_id_present, t('assigned') %><br />
						<%= f.select(:assigned_address_address_id_present, %w{true}, {:include_blank => true }, :class => "form-control" ) %>
			  	</div>
					<div class="form-group pull-right">
						 <%= f.submit class: 'btn btn-warning' %>
			  	</div>
		<% end %>
	</div>
</div>
