<%= search_form_for @q, url: addresses_path, :method => :get do |f| %>
	<table border="0" width="98%" align="center">
		<tr>
			<td>
	    		<%= f.label :ip_address_cont, t('ip_address') %><br />
	    		<%= f.text_field :ip_address_cont %>
	  	</td>
			<td>
			  <%= f.label :network_id_eq, t('network') %><br />
				<%= f.select(:network_id_eq, Network.all.collect {|net| [net.start_address, net.id]}, {:include_blank => true } ) %>
			</td>
			<td>
	    		<%= f.label :reserved_eq, t('reserved') %><br />
					<%= f.select(:reserved_eq, %w{true false}, {:include_blank => true } ) %>
	  	</td>
			<td>
	    		<%= f.label :assigned_address_address_id_present, t('assigned') %><br />
					<%= f.select(:assigned_address_address_id_present, %w{true}, {:include_blank => true } ) %>
	  	</td>
			<td rowspan="2" align="center">
	    		<div class="actions col-md-offset-2">
				    <%= f.submit class: 'btn btn-default' %>
				  </div>
	  	</td>
		</tr>
	</table>
<% end %>
<hr>
