<div class="page-header clearfix">
  <div class="pull-left">
    <h1>Show address <%= @address.ip_address %></h1>
  </div>
  <div class="pull-right btn-header">
    <a href="<%= addresses_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span>
      Back
    </a>
    <a href="<%= edit_address_path @address %>" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open"></span>
      Edit
    </a>
  </div>
</div>


<div class="panel panel-default">
  <div class="panel-body">
		<dl class="dl-horizontal lead">
		  <dt>IP:</dt>
		  <dd><%= @address.ip_address if @address.ip_address %></dd>
			
			<dt>Rete:</dt>
		  <dd><%= @address.network.name if @address.network %></dd>

			<dt>Riservato:</dt>
		  <dd><%= @address.reserved %></dd>

			<dt>Assegnato a:</dt>
		  <dd><%= @address.assigned_address.operator.name if @address.assigned_address %></dd>

			<dt><%= t(:created_at) %>:</dt>
		  <dd><%= @address.created_at  %></dd>

			<dt><%= t(:updated_at) %>:</dt>
		  <dd><%= @address.updated_at  %></dd>	
		</dl>
 </div>
</div>
