<%= search_form_for @q, url: assigned_addresses_path, :method => :get do |f| %>
	<table border="0" width="98%" align="left">
		<tr>
			<td>
    		<%= f.label :hostname_cont, t('hostname') %><br />
    		<%= f.text_field :hostname_cont %>
	  	</td>
			<td>
    		<%= f.label :mac_cont, t('mac') %><br />
    		<%= f.text_field :mac_cont %>
	  	</td>
			<td>
    		<%= f.label :description_cont, t('description') %><br />
    		<%= f.text_field :description_cont %>
	  	</td>
			<td>
			  <%= f.label :address_ip_address_cont, t('address') %><br />
				<%= f.text_field :address_ip_address_cont %>
			</td>
			<td>
			  <%= f.label :operator_name_cont, t('operator') %><br />
				<%= f.text_field :operator_name_cont %>
			</td>
			<td>
	    	<%= f.label :enabled_eq, t('enabled') %><br />
				<%= f.select(:enabled_eq, %w{true false}, {:include_blank => true } ) %>
	  	</td>
			<td>
			  <%= f.label :hardware_id_eq, t('hardware') %><br />
				<%= f.select(:hardware_id_eq, Hardware.all.collect {|hw| [hw.name, hw.id]}, {:include_blank => true } ) %>
			</td>
			
			<td rowspan="2" align="center">
	    		<div class="actions col-md-offset-2">
				    <%= f.submit class: 'btn btn-default' %>
				  </div>
	  	</td>
		</tr>
	</table>
<% end %>
<br><br><br>