<div class="page-header clearfix">
  <div class="pull-left">
    <h1>Editing assigned_address <%= @assigned_address.address.ip_address %></h1>
  </div>
  <div class="pull-right btn-header">
    <a href="<%= assigned_addresses_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span>
      <%= t(:back) %>
    </a>
    <a href="<%= assigned_address_path @assigned_address %>" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open"></span>
      <%= t(:show) %>
    </a>
  </div>
</div>

<%= render 'form' %>