<div class="container-fluid">
  
	<div class="page-header clearfix">
	  <div class="pull-left">
	    <h1><%= t(:listing_assigned_addresses) %></h1>
	  </div>
	  <div class="pull-right btn-header">
      <% if can? :create, @assigned_addresses.build %>
  	    <a href="<%= new_assigned_address_path %>" class="btn btn-primary">
  	      <span class="glyphicon glyphicon-plus"></span>
          <%= t(:new_assigned_address) %>
  	    </a> 
      <% end %>
	  </div>
	</div>
	
	<div class="row">
	  <div class="column">
	    <%= render 'search' %>
	  </div>
	</div>

	<div class="row">
	  <div class="column">
	    <%= render 'assigned_addresses' %>
	  </div>
	</div>
</div>