<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title"><%= t('search_options')%></h3>
  </div>
  <div class="panel-body">
		<%= search_form_for( @q, url: locations_path, method: :get, html: { class: "form-inline", role: "form" }) do |f| %>
					<div class="form-group">
		    		<%= f.label :name_cont, t('name') %><br>
		    		<%= f.text_field :name_cont, class: "form-control" %>
			  	</div>
          
          <%= render 'shared/per_page_results', obj_var: f %>
          
					<div class="form-group">
            <br>
						<%= f.submit class: 'btn btn-warning' %>
            <%= link_to t(:clear_search), locations_path(search_cancel: true), class: "btn btn-default" %>
			  	</div>
		<% end %>
	</div>
</div>