<div class="page-header clearfix">
  <div class="pull-left">
    <h1>Show location</h1>
  </div>
  <div class="pull-right btn-header">
    <a href="<%= locations_path %>" class="btn btn-default">
      <span class="glyphicon glyphicon-arrow-left"></span>
      Back
    </a>
    <a href="<%= edit_location_path @location %>" class="btn btn-default">
      <span class="glyphicon glyphicon-eye-open"></span>
      Edit
    </a>
  </div>
</div>

<p><%= t(:id) %>: <%= @location.id  %></p>

<p><%= t(:name) %>: <%= @location.name  %></p>

<p><%= t(:created_at) %>: <%= @location.created_at  %></p>

<p><%= t(:updated_at) %>: <%= @location.updated_at  %></p>

<h4><%= t(:ports) %></h4>

<ul>
	<% @location.location_ports.each do |lp| %>
  	<li><%= lp.name %></li>
	<% end %>
</ul>

