<%# add navigation links to this file %>

<% if user_signed_in? %>
	<li><%= link_to 'Addresses', addresses_path %></li>
	<li><%= link_to 'Networks', networks_path %></li>
	<li><%= link_to 'AssignedAddress', assigned_addresses_path %></li>
	<li><%= link_to 'Operators', operators_path %></li>
	<li><%= link_to 'Hardwares', hardwares_path %></li>
	<li><%= link_to 'Locations', locations_path %></li>
	<li class="dropdown">
     <a href="#" class="dropdown-toggle" data-toggle="dropdown">Manage DHCPd <span class="caret"></span></a>
     <ul class="dropdown-menu" role="menu">
       <li><%= link_to 'Renew DHCP Config', renew_dhcp_config_path %></li>
       <li class="divider"></li>
       <li><%= link_to 'Restart DHCP', restart_dhcp_path %></li>
     </ul>
   </li>
<% end %>
